<% include header.html %>
<body class="home">

		
		<div class="banner privacy">
			<div class="container">
				<div class="col_2 fr"><img src="new_design/images/privacy.jpg" alt="banner" /></div>	
				<div class="col_2 pad_top"><h1>At EliteCar we care <br >about you<span> & the trust you give us</span></h1></div>
				
				<div class="clear"></div>				
			</div>		
		</div>
	
	<div class="inner_con">
		<div class="psection1">
			<div class="container">
				<h4>Introduction</h4><p>EliteCar puts transportation at your fingertips. Understanding how and why we use your information should be just as easy. Our Privacy Policy and Privacy FAQs provide the latest information about the data we collect and how we use it. We also want you to know a few more things about our approach to privacy:</p>
				<div class="privacy_in">
					<div class="row">
						<div class="col_2">
							<div class="img_div"><img src="new_design/images/privacy1.jpg" /></div>
						</div>
						<div class="col_2">
							<h4>Your data works for you</h4>
							<p>We use your data to provide convenient transportation and delivery options, to help drivers maximize their earnings, and to protect the safety and security of our users. And we don’t rent or sell your data -- to anyone.</p>
							<!-- <a href="#">LEARN MORE<i class="fa  fa-angle-right"></i></a> -->
						</div>
						<div class="clear"></div>
					</div>
					<div class="row">
						<div class="col_2">
							<h4>Safety first</h4>
							<p>Your data enables us to determine the safest pick-ups and drop-offs, deter unsafe driving habits, help you avoid accident-prone roads, and to develop new features to get where you’re going, safe and sound.</p>
							<!-- <a href="#">LEARN MORE<i class="fa  fa-angle-right"></i></a> -->
						</div>
						<div class="col_2">
							<div class="img_div"><img src="new_design/images/privacy2.jpg" /></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="row">
						<div class="col_2">
							<div class="img_div"><img src="new_design/images/privacy3.jpg" /></div>
						</div>
						<div class="col_2">
							<h4>Privacy means security</h4>
							<p>When you use our services, you trust us with your data. We work around the clock to protect your data from fraud, abuse, and unauthorized access.</p>
							<!-- <a href="#">LEARN MORE<i class="fa  fa-angle-right"></i></a> -->
						</div>
						<div class="clear"></div>
					</div>
					<div class="row">
						<div class="col_2">
							<h4>You are in control</h4>
							<p>Through the settings in the EliteCar app or on your device, you can choose when to share your location, sync your contacts and calendar, personalize your app, and even delete your account.</p>
							<!-- <a href="#">LEARN MORE<i class="fa  fa-angle-right"></i></a> -->
						</div>
						<div class="col_2">
							<div class="img_div"><img src="new_design/images/privacy4.jpg" /></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="psection2">
			<div class="container">
				<h2>Frequently Asked Questions</h2>
				<p>For more information refer to the <a href="privacy">Privacy Policy Page</a></p>
				<div class="faq privacy_acc">						
					<div class="faq_div">
						<ul class="accordion">
						  <li class="">
							<div class="link"><a href="javascript:void(0)"><i class="fa fa-angle-down"></i><span>What information does EliteCar collect?</a></div>
							<div class="faq_info submenu">
								<p>EliteCar collects information to help make your EliteCar experience not only possible, but great—whether that’s connecting riders and drivers, helping you get where you’re going, improving safety, or keeping you in touch with us and others. This includes information you provide to us, like your account information, and information we collect when you use our services, like your location.</p>
								
							</div>
						  </li>
						  <li>
							<div class="link"><a href="javascript:void(0)"><i class="fa fa-angle-down"></i><span>How does EliteCar use my location information?</span></a></div>
							<div class="faq_info submenu"><p>EliteCar helps you get where you want to go. This means that location information is essential to our services. We use it to help riders and driver-partners find each other, determine the best routes, enable users to track their progress and share ETAs with friends, develop new features and services, enhance safety and security, and for other purposes described in our Privacy Policy.</p></div>
						  </li>
						  <li>
							<div class="link"><a href="javascript:void(0)"><i class="fa fa-angle-down"></i><span>Does EliteCar share my information with anyone?</span></a></div>
							<div class="faq_info submenu"><p>Some of EliteCar’s products, services, and features involve sharing information with other users. For example, when you request a ride, the locations of your pickup and dropoff points are shared with a driver-partner. We may also share information at your request, such as when you use a feature like ETA sharing to share your trip status with family and friends. We may also share your information with our affiliates, subsidiaries, and business partners, or for legal reasons or in the event of a dispute.</p></div>
						  </li>
						   <li>
							<div class="link"><a href="javascript:void(0)"><i class="fa fa-angle-down"></i><span>How does EliteCar protect the information it collects?</span></a></div>
							<div class="faq_info submenu"><p>We take the security of your data seriously. EliteCar uses technical safeguards like encryption, authentication, fraud detection, and secure software development to protect your information. We also have an extensive team of data security and privacy experts working around the clock to prevent theft, fraud, or abuse of your information.</p></div>
						  </li>
						   <li>
							<div class="link"><a href="javascript:void(0)"><i class="fa fa-angle-down"></i><span>Does EliteCar rent or sell my information?</span></a></div>
							<div class="faq_info submenu"><p>No. EliteCar does not rent or sell your personal data to anyone.</p></div>
						  </li>
						   <li>
							<div class="link"><a href="javascript:void(0)"><i class="fa fa-angle-down"></i><span>How long does EliteCar keep my information?</span></a></div>
							<div class="faq_info submenu"><p>EliteCar keeps your information as long as you have an EliteCar account. You can request to delete your account or ask us to delete specific information like synced contacts. In some cases, EliteCar may keep some information after you ask us to delete your account, including when we’re required to by law, if there are outstanding issues related to your account (like unused credits), or if it’s necessary for safety and security purposes.</p></div>
						  </li>
						   <li>
							<div class="link"><a href="javascript:void(0)"><i class="fa fa-angle-down"></i><span>How do I look up or control the information that EliteCar collects about me?</span></a></div>
							<div class="faq_info submenu"><p>Through our apps and websites, and the device settings on your phone, you can:  </p>
								<ul>
									<li>look up your own rider and driver ratings</li>
									<li>set or change your privacy settings, including location, address book and calendar information </li>
									<li>opt-out of receiving promotional communications from EliteCar</li>
									<li>delete your EliteCar account (although we would be sorry to see you go)</li>
								</ul>
								<p>You can also contact us through the Help section in our mobile apps and our <a href="privacy.html">Privacy Help</a> page if you have additional questions or concerns about the information EliteCar collects about you.</p>
							</div>
						  </li>
						 
						
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="psection3">
			<div class="container">
				<div class="bod">
					<h2>Learn more about EliteCar's Privacy Policy</h2>
					<a href="/privacy" class="btn">Privacy Policy<i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
		</div>
		
	</div>
	
	
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabs").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });
    $("#btnNext").live("click", function () {
        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == (c - 1) ? currentTab : (currentTab + 1);
        tabs.tabs('select', currentTab);
        $("#btnPrevious").show();
        if (currentTab == (c - 1)) {
            $("#btnNext").hide();
        } else {
            $("#btnNext").show();
        }
    });
    $("#btnPrevious").live("click", function () {
        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == 0 ? currentTab : (currentTab - 1);
        tabs.tabs('select', currentTab);
        if (currentTab == 0) {
            $("#btnNext").show();
            $("#btnPrevious").hide();
        }
        if (currentTab < (c - 1)) {
            $("#btnNext").show();
        }
    });
</script>

<script type="text/javascript">

$( document ).ready(function() {
    $('.menuOpen').click(function(){
    $('.menu, .map, .bcome_driver').toggle();
});

if ($(window).width() < 767) {
    $('.menuOpen').click(function(){
    $('.menu2').toggleClass('dis_block');
});
}
});


	
</script>
<script src="js/owl.carousel.js"></script>
 <script>
	jQuery(document).ready(function($) {
	 
	  $('.nonloop').owlCarousel({
		nav:true,
		center: false,
		dots: true,
		items:2,
		loop: false,
		 slideBy: 2,	
		responsive: {
		 0: {
				items: 1,
			  },
		 600: {
				items: 2,
			  },
		 1024: {
			items: 3
		  }
		 
		}
	  });
	});
</script> 	
<script>
  $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open2');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open2');
		};
	}	

	var accordion = new Accordion($('.accordion'), false);
});

</script>	


</body>
<% include footer.html %>
</html>
